{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}
 
{% block content %}
<link rel="stylesheet" href="{% static 'css/sign-in.css' %}">

  
<main class="form-signin w-100 m-auto">
<form>
  <img class="mb-4" src="{% static 'image/avatar.jpg' %}" alt="" width="72" style="border-radius: 7px;">
  <h1 class="h3 mb-3 fw-normal">Contact Me</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="0987654321">
    <label for="floatingPassword">Phone Number</label>
  </div>
  <div class="form-floating">
    <textarea type="message" class="form-control" id="floatingPassword" placeholder="0987654321"></textarea>
    <label for="floatingPassword">Messages</label>
  </div>

  
  <button class="btn btn-primary w-100 py-2" type="submit">Send Me</button>
  <p class="mt-5 mb-3 text-body-secondary">Or, you can use my <a href="mailto:luongtuandung181209@gmail.com">email</a> instead</p>
  <p class="mt-5 mb-3 text-body-secondary">luongtuandung181209@gmail.com</p>
</form>
</main>

{% endblock %}
